#feed-button {
  list-style-image: url("chrome://browser/skin/customization/safari-page-livemarks.png") !important;
  -moz-image-region: rect(0px, 27px, 15px, 0px) !important;
  padding-right: 1px !important;
}

#feed-button[open="true"],
#feed-button:hover:active {
  -moz-image-region: rect(15px, 27px, 30px, 0px) !important;
} 