.searchbar-engine-image {
  margin-left: -11px !important;
  margin-right: 0px !important;
  display: -moz-box !important;
  background-color: #fff !important;
  -moz-border-radius: 4px !important;
}
